@font-face {
    font-family: NorseBold;
    src: url(norse-bold.otf);
}

body{
    font-family: sans-serif;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
}

.left{
    flex: 3;
    text-align: center;
    background-image: url(img/Braies_Lake.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner{
    margin-top: 25vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: norsebold;
    font-size: 5rem;
    color: white;
}

.banner img{
    height: 20vh;
}

#imageCredit, #imageCredit a{
    color: white;
}

.content{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f2f5;
    padding: 3rem;
}

#motText{
    font-weight: bold;
}

.formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;

    background-color: white;
    box-shadow: -3rem 0 white, 3rem 0 white;
    padding: 1rem 0;
}

.inpWrap label{
    display: block;
    margin-bottom: 0.2rem;
}

.inpWrap input{
    width: 75%;
    height: 1.5rem;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E7EB;
}

.inpWrap input:focus{
    outline: none;
    border-color: blue;
    box-shadow: 1px 1px 5px blue;
}

.inpWrap input:invalid{
    border: 1px solid red;
    box-shadow: 1px 1px 5px red;

}

.btn{
    margin-top: 1rem;
}

.btn button{
    font-size: medium;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 12px;
    background-color: #c2cad6;
    color: #333;
    font-weight: bold;
}

.logIn{
    text-decoration: none;
    color: #667a99
}